process { 
  executor = 'awsbatch' 
  queueSize = 100

  resourceLabels = ['allen-batch-pipeline': 'aind-ephys-pipeline-kilosort4']

  withName: job_dispatch {
    container = "$REGISTRY_HOST/published/d75d79c4-8f21-4d17-83ec-13b2a43dcaa0:v8"
    cpus = 4
    memory = '32 GB'
  }
  withName: preprocessing {
    container = "$REGISTRY_HOST/published/49b76676-d1f6-4202-9473-c763b2b83563:v11"
    cpus = 16
    memory = '64 GB'
  }
  withName: spikesort_kilosort4 {
    container = "$REGISTRY_HOST/published/3372ccfd-0388-4e1e-8c4f-46b470fcf871:v11"
    cpus = 16
    memory = '60 GB'
    accelerator = 1
    label = 'gpu'
  }
  withName: spikesort_kilosort25 {
    container = "$REGISTRY_HOST/published/fca2ac1b-4c23-468b-aa49-eb7040270796:v3"
    cpus = 16
    memory = '60 GB'
    accelerator = 1
    label = 'gpu'
  }
  withName: spikesort_spykingcircus2 {
    container = "$REGISTRY_HOST/published/af5ce081-0c3c-4f73-8765-abd2aaa959f3:v2"
    cpus = 16
    memory = '64 GB'
  }
  withName: postprocessing { 
    container = "$REGISTRY_HOST/published/1639e98a-74dc-4b37-9464-1b6a3868c9b0:v8"
    cpus = 16
    memory = '64 GB'
    containerOptions = '--memory-swap 240000 --memory-swappiness 20 --shm-size 16000000' 
  }
  withName: curation { 
    container = "$REGISTRY_HOST/published/da74428e-26f9-4f08-a9bf-898dfca44722:v8"
    cpus = 4
    memory = '32 GB'
  }
  withName: visualization { 
    container = "$REGISTRY_HOST/published/e7af8ddc-08ca-418b-9e36-8249e363404e:v9"
    cpus = 4
    memory = '32 GB'
  }
  withName: results_collector {
    container = "$REGISTRY_HOST/published/5b7e48bb-8123-4b4c-b7bf-ebaa2de8555e:v13"
    cpus = 4
    memory = '32 GB'
  }
  withName: quality_control {
    container = "$REGISTRY_HOST/published/56a55c84-3013-4683-be83-14d607d2cfe6:v13"
    cpus = 8
    memory = '64 GB'
    containerOptions = '--memory-swap 240000 --memory-swappiness 20 --shm-size 16000000'
  }
  withName: quality_control_collector {
    container = "$REGISTRY_HOST/published/324399bc-41bd-43f2-8da4-954bd243973f:v2"
    cpus = 1
    memory = '8 GB'
  }
  withName: nwb_ecephys { 
    container = "$REGISTRY_HOST/published/b16dfc92-eab4-425d-978f-0ba61632c413:v12"
    cpus = 8
    memory = '64 GB'
  }
  withName: nwb_units { 
    container = "$REGISTRY_HOST/published/b9333ffe-ae7c-4b67-882f-ea71054889dd:v14"
    cpus = 4
    memory = '32 GB'
  }
}

// Env variables for the pipeline
env.PIPELINE_URL = "https://github.com/AllenNeuralDynamics/aind-ephys-pipeline"
env.PIPELINE_VERSION = "kilosort4_1.2.4"
env.DATA_PATH = 's3://aind-ephys-data/ecephys_713593_2024-02-08_14-10-37'
env.PARAMS_FILE = 'params_co.json'
env.SORTER = 'kilosort4'
