process { 
  executor = 'awsbatch' 
  queueSize = 100

  resourceLabels = ['allen-batch-pipeline': 'aind-ephys-pipeline-kilosort4']

  withName: job_dispatch {
    cpus = 4
    memory = '32 GB'
  }
  withName: preprocessing {
    cpus = 16
    memory = '64 GB'
  }
  withName: spikesort_kilosort4 {
    cpus = 16
    memory = '60 GB'
  }
  withName: spikesort_kilosort25 {
    cpus = 16
    memory = '60 GB'
  }
  withName: spikesort_spykingcircus2 {
    cpus = 16
    memory = '64 GB'
    containerOptions = '--memory-swappiness 20 --shm-size 16g'
  }
  withName: spikesort_lupin {
    cpus = 16
    memory = '64 GB'
    containerOptions = '--memory-swappiness 20 --shm-size 16g'
  }
  withName: postprocessing { 
    cpus = 16
    memory = '64 GB'
    containerOptions = '--memory-swappiness 20 --shm-size 16g' 
  }
  withName: curation { 
    cpus = 4
    memory = '32 GB'
  }
  withName: visualization { 
    cpus = 4
    memory = '32 GB'
  }
  withName: results_collector {
    cpus = 4
    memory = '32 GB'
  }
  withName: quality_control {
    cpus = 8
    memory = '64 GB'
    containerOptions = '--memory-swappiness 20 --shm-size 16g'
  }
  withName: quality_control_collector {
    cpus = 1
    memory = '8 GB'
  }
  withName: nwb_ecephys { 
    cpus = 8
    memory = '64 GB'
  }
  withName: nwb_units { 
    cpus = 4
    memory = '32 GB'
  }
}

// Env variables for the pipeline
env.DATA_PATH = 's3://aind-ephys-data/ecephys_713593_2024-02-08_14-10-37'
params.params_file = 'params_co.json'
// Don't pass the per-run RESULTS_PATH to the results collector, so it can be cached
params.pass_pipeline_paths = false
env.SORTER = 'kilosort4'
env.KACHERY_API_KEY = System.getenv('KACHERY_API_KEY') ?: ''
env.KACHERY_ZONE    = System.getenv('KACHERY_ZONE')    ?: ''

docker {
  envWhitelist = ['KACHERY_ZONE', 'KACHERY_API_KEY']
}
